<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Ingredients <input type="text" name="ingredients" value="<%= @recipes.ingredients %>">
  <input type="submit" value="submit">
</form>
